*~
*#
.#*
*.o
*.lo
*.log
*.la
*.dirstamp
*.libs
*.deps

*/config/compile
*/config.*
*/Makefile
*/stamp-h1
*/configure
*/libtool
*/autom4te.cache
*.in
*/m4/
libibverbs-1.1.7/examples/ibv_*

linux/arch/arm/boot/Image
linux/arch/arm/boot/compressed/piggy.xzkern
linux/arch/arm/boot/compressed/vmlinux
linux/arch/arm/boot/zImage
linux/arch/arm/boot/zImage-dtb
linux/arch/arm/kernel/vmlinux.lds
linux/kernel/config_data.h
linux/uInitrd
linux/usr/initramfs_data.cpio
linux/lib/oid_registry_data.c
linux/initramfs-*
*.dtb
